@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: aliceblue;
}

body {
  color: var(--text);
  background: linear-gradient(to bottom, #052227, #07323a);
  min-height: 100svh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-lg uppercase text-sm font-semibold tracking-widest text-[#AEC3B0] transition-all
  hover:border-[#EFF6E0] hover:text-[#AEC3B0]/40 hover:font-extrabold;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b py-1 sm:px-6 sm:py-4 border-[#EFF6E0] text-gray-500 
    placeholder-[#E0E6E2]/80 transition-all focus:border-[#124559]/40 focus:text-[#AEC3B0] hover:border-[#EFF6E0]/40;
  }
}

.slider {
  --slider-index: 0;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition-duration: 300ms;
}
